<% layout('layouts/boilerplate') %>
<body>
    <br>
  <h3>Add New Listing:</h3>
  <br>
  <div class="row">
    <div class="col-8 offset-2">
  <form method="POST" action="/listings" novalidate class="needs-validation">
    <div class="mb-3" >
      <label for="title" class="form-label">Title : </label>
      <input type="text" name="listing[title]" class="form-control" placeholder="Enter Tile" required />
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Enter Title
      </div>
    </div>
    <div class="mb-3" >
      <label for="description" class="form-label">Description : </label>
      <textarea
        name="listing[description]"
        type="text"
        class="form-control"
        placeholder="Enter the Description..."
        required
      ></textarea>
      <div class="invalid-feedback">
        Please Enter a Short Description
      </div>
    </div>
    <div class="mb-3" >
      <label for="image" class="form-label">Image URL : </label>
      <input type="text" name="listing[image]" class="form-control" placeholder="Enter Image URL" />
    </div>
    <div class="row">
        <div class="mb-3 col-md-4" >
            <label for="price" class="form-label">Price : </label>
            <input type="text" name="listing[price]" class="form-control" placeholder="1200" required />
            <div class="invalid-feedback">
              Enter a Price
            </div>
          </div>
          <div class="mb-3 col-md-8" >
            <label for="location" class="form-label">Location : </label>
            <input type="text" name="listing[location]" class="form-control" placeholder="Nellore" required />
            <div class="invalid-feedback">
              Enter Location
            </div>
          </div>
    </div>
    <div class="mb-3" >
      <label for="country" class="form-label">Country : </label>
      <input type="text" name="listing[country]" class="form-control" placeholder="India" required />
      <div class="invalid-feedback">
        Enter Country
      </div>
    </div>
    <button class="btn btn-dark add-btn">Add</button>
  </form>
  <br>
</div>
</div>
</body>
